html, body {
	height: 100%;
}
body {
	/*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
	font-family:"DIN 1451 Mittelschrift Standard", Calibri, Helvetica, Arial, sans-serif, serif;
	/*font-size: 16px;*/
	font-size-adjust:0.48;
	background:  #E4E4E4;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:none;
}
#main {
	width:978px;
	margin:30px auto 0;
	min-height: 100%;
	height: 100%;
	height: auto !important;
}
/***********************override INK styles*************************/
a, a:link, a:visited {
	color:#3399cc;
}
a:hover {
	color:#336699;
}
ul {
	list-style-type: none;
	margin:0;
	padding:0;
}
h2 {
	color: #2b343b;
	text-shadow:0 1px 0 #ffffff;
}
h3 {
	color: #2b343b;
	font-size:1.2em;
	text-shadow:0 1px 0 #ffffff;
}
.g75 {
	background:#f2f2f2;
}
.g25 {
	float:right;
}
#topNavigation {
	width:978px;
	margin:0 auto;
	padding-top:3px;
}
.h_navigation {
	float:left;
	height:45px;
	width:715px;
	margin-top:20px;
}
.h_navigation li {
	padding-bottom:10px;
	margin:0;
}
.blackMenu form {
	margin-top:0;
}
.blackMenu input {
	width:180px;
	font-size:13px;
}
.blackMenu .h_navigation .active a, .blackMenu a:hover {
	color:#3399cc;
}
.blackMenu .h_navigation li a {
	font-size:16px;
	text-shadow:0 1px 0 #FFF;
	padding:0px 15px;
	border:0;
}
.blackMenu a {
	line-height:2em;
	color: #2b343b;
}
.blackMenu .h_navigation li a:hover {
	border:0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background:none;
}
.blackMenu .h_navigation .active a, .h_navigation .active a, .h_navigation a.active, .blackMenu .h_navigation .active a:hover, .h_navigation .active a:hover, .h_navigation a.active:hover {
	color:#0099CC;
	margin:5px 3px 5px 0;
	padding:0 15px;
	line-height:2.2;
	font-weight:normal;
	border-bottom:3px solid #0099CC;
}
input[type=text], input[type=password], input[type=file], input[type=reset], textarea, select {
	zoom:1;
	-webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.04);
	-webkit-transition:0.1s linear all;
	-moz-transition:0.1s linear all;
	-ms-transition:0.1s linear all;
	-o-transition:0.1s linear all;
	transition:0.1s linear all;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus, select:focus {
	outline:none;
	background:#FFFFFF;
	border-color:rgba(150, 216, 71, 0.8999999999999999);
	-webkit-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 10px rgba(150, 216, 71, 0.6);
	-moz-box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 10px rgba(150, 216, 71, 0.6);
	box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 10px rgba(150, 216, 71, 0.6);
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
 color: #666;
}
input:-moz-placeholder, textarea:-moz-placeholder {
 color: #666;
}
form {
	margin-top:20px;
	font-size: 15px;
}
label {
	text-align:left;
	width: 180px;
	margin-left:0;
}
.e_wrap p.note {
	margin:8px 0 0px 110px;
}
.alert-msg, .block-alert-msg h4 {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
hr {
	border-left:0;
	border-right:0;
	border-top: 1px solid #BBB;
	margin:1em 0;
	border-style:dotted;
}
.post-container hr, .login hr {
	border-top:1px solid #DDD;
	margin:1em 0;
	border-style:dotted;
	border-left:0;
	border-right:0;
}
.defaultBtn, input[type="submit"].defaultBtn, input[type="button"].defaultBtn, a.defaultBtn {
	cursor:pointer;
	display:inline-block;
	background-color:#ccc;
	background-repeat:no-repeat;
	background-image:-khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#ccc));
	background-image:-moz-linear-gradient(top, #ffffff, #ccc);
	background-image:-ms-linear-gradient(top, #ffffff, #ccc);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #ccc));
	background-image:-webkit-linear-gradient(top, #ffffff, #ccc);
	background-image:-o-linear-gradient(top, #ffffff, #ccc);
	background-image:linear-gradient(top, #ffffff, #ccc);
	padding:5px 14px 6px;
	text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
	color:#333;
	font-size:13px !important;
	line-height:normal;
	border:1px solid #ccc;
	border-bottom-color:#bbb;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.05), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.05), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.05), 0 1px 2px rgba(0, 0, 0, 0.05);
	-webkit-transition:0.1s linear all;
	-moz-transition:0.1s linear all;
	-ms-transition:0.1s linear all;
	-o-transition:0.1s linear all;
	transition:0.1s linear all;
}
.defaultBtn:hover, input[type="submit"].defaultBtn:hover, input[type="button"].defaultBtn:hover, a.defaultBtn:hover {
	cursor:pointer;
	display:inline-block;
	background-color:#ccc;
	background-repeat:no-repeat;
	background-image:-khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#ccc));
	background-image:-moz-linear-gradient(top, #ffffff, #ccc);
	background-image:-ms-linear-gradient(top, #ffffff, #ccc);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #ccc));
	background-image:-webkit-linear-gradient(top, #ffffff, #ccc);
	background-image:-o-linear-gradient(top, #ffffff, #ccc);
	background-image:linear-gradient(top, #ffffff, #ccc);
	padding:5px 14px 6px;
	text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
	color:#333;
	font-size:13px !important;
	line-height:normal;
	border:1px solid #ccc;
	border-bottom-color:#bbb;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.05), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.05), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.05), 0 1px 2px rgba(0, 0, 0, 0.05);
	-webkit-transition:0.1s linear all;
	-moz-transition:0.1s linear all;
	-ms-transition:0.1s linear all;
	-o-transition:0.1s linear all;
	transition:0.1s linear all;
	background-position:0 -15px;
	color:#333;
	text-decoration:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.defaultBtn:active, input[type="submit"].defaultBtn:active, input[type="button"].defaultBtn:active, a.defaultBtn:active {
	-webkit-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.25);
	-moz-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.25);
	box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.25);
}
.btn_send, input[type="submit"].btn_send, input[type="button"].btn_send, a.btn_send {
	font-size:13px !important;
	cursor:pointer;
	display:inline-block;
	background-color:#2B343B;
	background-repeat:no-repeat;
	background-image:-khtml-gradient(linear, left top, left bottom, from(#666666), to(#2B343B));
	background-image:-moz-linear-gradient(top, #666666, #2B343B);
	background-image:-ms-linear-gradient(top, #666666, #2B343B);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #666666), color-stop(100%, #2B343B));
	background-image:-webkit-linear-gradient(top, #666666, #2B343B);
	background-image:-o-linear-gradient(top, #666666, #2B343B);
	background-image:linear-gradient(top, #666666, #2B343B);
	padding:5px 14px 6px;
	color:#FFF;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.75);
	border-color:#2B343B #2B343B #4b4b4b;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.05), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.05), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.05), 0 1px 2px rgba(0, 0, 0, 0.05);
	-webkit-transition:0.1s linear all;
	-moz-transition:0.1s linear all;
	-ms-transition:0.1s linear all;
	-o-transition:0.1s linear all;
	transition:0.1s linear all;
}
.btn_send:hover, input[type="submit"].btn_send:hover, input[type="button"].btn_send:hover, a.btn_send:hover {
	background-color:#2B343B;
	background-repeat:no-repeat;
	background-image:-khtml-gradient(linear, left top, left bottom, from(#666666), to(#2B343B));
	background-image:-moz-linear-gradient(top, #666666, #2B343B);
	background-image:-ms-linear-gradient(top, #666666, #2B343B);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #666666), color-stop(100%, #2B343B));
	background-image:-webkit-linear-gradient(top, #666666, #2B343B);
	background-image:-o-linear-gradient(top, #666666, #2B343B);
	background-image:linear-gradient(top, #666666, #2B343B);
	background-position:0 -15px;
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.75);
	color:#FFF;
	border-color:#2B343B #2B343B #4b4b4b;
	text-decoration:none;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
}
.btn_send:active, input[type="submit"].btn_send:active, input[type="button"].btn_send:active, a.btn_send:active {
	text-shadow:0 1px 1px rgba(0, 0, 0, 0.75);
	background:#666666;
	-webkit-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.5);
	box-shadow:inset 0 2px 4px rgba(0, 0, 0, 0.5);
}
.btn_success, input[type=submit].btn_success, .btn_success, input[type=button].btn_success, a.btn_success {
	color:#fff;
	zoom:1;
	background:#479cd8;
	background-repeat:no-repeat;
	background-image:-khtml-gradient(linear, left top, left bottom, from(#4aceff), to(#479cd8));
	background-image:-moz-linear-gradient(top, #4aceff, #479cd8);
	background-image:-ms-linear-gradient(top, #4aceff, #479cd8);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #4aceff), color-stop(100%, #479cd8));
	background-image:-webkit-linear-gradient(top, #4aceff, #479cd8);
	background-image:-o-linear-gradient(top, #4aceff, #479cd8);
	background-image:linear-gradient(top, #4aceff, #479cd8);
	border-color:#4aceff;
	border-bottom-color:#479cd8;
	text-shadow:0 -1px 0px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2);
	-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2);
	box-shadow:inset 0 1px 0 rgba(255,255,255,0.2);
	-webkit-transition:0.1s linear all;
	-moz-transition:0.1s linear all;
	-ms-transition:0.1s linear all;
	-o-transition:0.1s linear all;
	transition:0.1s linear all;
}
.btn_success, input[type=submit].btn_success:hover, .btn_success:hover, input[type=button].btn_success:hover, a.btn_success:hover {
	zoom:1;
	background:#479cd8;
	background-repeat:no-repeat;
	background-image:-khtml-gradient(linear, left top, left bottom, from(#4aceff), to(#479cd8));
	background-image:-moz-linear-gradient(top, #4aceff, #479cd8);
	background-image:-ms-linear-gradient(top, #4aceff, #479cd8);
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #4aceff), color-stop(100%, #479cd8));
	background-image:-webkit-linear-gradient(top, #4aceff, #479cd8);
	background-image:-o-linear-gradient(top, #4aceff, #479cd8);
	background-image:linear-gradient(top, #4aceff, #479cd8);
	border-color:#4aceff;
	background-position:0 -10px;
	border-bottom-color:#479cd8;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	color:#fff;
	text-shadow:0 -1px 0px rgba(0, 0, 0, 0.5);
}
.btn_success, input[type=submit].btn_success:active, .btn_success:active, input[type=button].btn_success:active, a.btn_success:active {
	background:#479cd8;
	zoom:1;
	-webkit-box-shadow:inset 0 3px 5px rgba(0,0,0,0.25);
	-moz-box-shadow:inset 0 3px 5px rgba(0,0,0,0.25);
	box-shadow:inset 0 3px 5px rgba(0,0,0,0.25);
	text-shadow:0 -1px 0px rgba(0, 0, 0, 0.5);
}
.pagination {
	padding: 20px 0 0 0;
	font-weight: bold;
	text-align: center;
}
.pagination ul li a, .pagination li:first-child a, .pagination li.prev a, .pagination li:last-child a, .pagination li.next a {
	display:block;
	font-size:0.9em;
	text-decoration:none;
	background:#E9E9E9;
	color:#2b343b;
	margin: 5px 3px 5px 0;
	line-height:2;
	padding: 0 15px;
	font-weight:normal;
	text-shadow:0 1px 0 #FFF;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	border:1px solid #E5E5E5;
	-webkit-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}
.pagination ul li a:hover, .pagination li:first-child a:hover, .pagination li.prev a:hover, .pagination li:last-child a:hover, .pagination li.next a:hover {
	color:#3399cc;
}
/*header*/
#headerContainer {
	width:100%;
	background:#2B343B;
	height:65px;
}
#header {
	width:978px;
	margin:0 auto;
	height:65px;
}
#header h1 {
	display:block;
	background: url(../images/logo-small.png) 0 8px scroll no-repeat;
	width:200px;
	margin:0 auto;
	height:60px;
	float:left
}
#header h1 a {
	text-indent:-9999px;
	overflow:hidden;
	display:block;
	width:200px;
	height:60px;
}
/*PESQUISA*/
#search {
	float:right;
	margin-top:20px;
}
#searchInput {
	padding:6px;
	margin:5px 0;
}
#searchInput:focus {
	outline:none;
	color:#2A2D30;
}
/*RESULTADOS PESQUISA*/
h2.searchResult {
	font-size:18px;
}
.searchResult p {
	font-size:14px;
	margin-top:10px;
	font-weight:normal;
}
.searchResult p span {
	color:#3399cc;
}
/*LOGIN*/
#login {
	float:right;
	margin:0;
	padding:0;
}
#login ul {
	float:right;
	line-height: 63px;
}
#login ul li {
	display:inline;
}
#login ul li a {
	color:#FFF;
}
#login ul li a.sign {
	color: #e6e6e6;
}
#login ul li a.sign:hover {
	color:#FFF;
}
/*pagina login e sign up*/

.login #topNavigation {
	display:none;
}
.login form, .signUp form{width:510px;}

/*posts*/
.box {
	-webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
	background-color: #FFF;
	padding: 1em;
	margin-bottom:10px;
}
.txtRight {
	text-align: right;
}
ul.posts li {
	float: left;
}
ul.posts {
	list-style-type: none;
	padding: 0;
}
.posts li.space {
	margin:0 1px 0 0;
	padding:5px;
	height: 235px;
}
.post-img {
	overflow: hidden;
	position: relative;
	padding-bottom:6px;
	width: 200px;
	height: 159px;
}
.post-img:hover .post-hover {
	opacity: 0.90;
	-webkit-transition: opacity 200ms ease-in-out;
	-moz-transition: opacity 200ms ease-out;
	-o-transition: opacity 200ms ease-out;
	transition: opacity 200ms ease-out;
}
.post-hover {
	position: absolute;
	background: #fff;
	height: 100%;
	width: 100%;
	/*padding: 8px 8px 0 8px;*/
	opacity: 0;
}
.post-img a {
	text-decoration: none;
}
.post-img a span {
	display: block;
	padding: 6px 6px 0 6px;
}
.post-img span.title {
	font-size: 1.1em;
	color: #2b343b;
	font-weight: 700;
	text-shadow:0 1px 0 #ffffff;
}
.post-img span.desc {
	font-size: 0.95em;
	color: #2A2D30;
}
.post-img em {
	font-size: 0.9em;
	color: #5D6167;
	position: absolute;
	bottom:18px;
	left: 6px;
	font-style: normal;
}
.post-img img {
	margin: 0 auto;
	display: block;
}
.post-tools {
	clear:both;
	padding-bottom:12px;
}
.post-tools .ico {
	margin-left:5px;
	float:right;
	line-height:1em;
	text-indent:-9999px;
	overflow:hidden;
	height:19px;
	background: rgba(0, 0, 0, 0.08);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.post-tools .ico a {
	padding:3px 5px;
	color: #2A2D30;
	text-shadow:0 1px 0 #ffffff;
	display:block;
	font-size:0.8em;
	text-decoration:none;
	text-indent:12px;
	-webkit-box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.05);
	-webkit-transition:0.1s linear all;
	-moz-transition:0.1s linear all;
	-ms-transition:0.1s linear all;
	-o-transition:0.1s linear all;
	transition:0.1s linear all;
}
.ico a.comments {
	background:url(../images/icons.png) 0 0 no-repeat scroll;
}
.ico a.likes {
	background:url(../images/icons.png) 0 -18px no-repeat scroll;
}
.post-tools .ico a:hover, .post-tools .ico:hover {
	color:#3399cc;
	background: rgba(0, 0, 0, 0.04);
}
.ico a.comments:hover {
	background:url(../images/icons.png) 0 -54px no-repeat scroll;
	width:auto;
}
.ico a.likes:hover, .ico a.likes.liked {
	background:url(../images/icons.png) 0 -72px no-repeat scroll;
	width:auto;
	color: #3399cc;
}
.ico a.rebound {
	background:url(../images/icons.png) 2px -107px no-repeat scroll;
	text-indent:-9999px;
	overflow:hidden;
	width:12px;
}
.ico a.unlike {
	background:url(../images/icons.png) 0 -144px no-repeat scroll;
}
.ico a.rebound:hover {
	background:url(../images/icons.png) 2px -125px no-repeat scroll;
	width:12px;
}
.ico a.unlike:hover {
	background:url(../images/icons.png) 0 -162px no-repeat scroll;
}
/*********************sidebar item********************/
.sidebar-item {
	padding:0;
	margin:0;
	margin-left:10px;
}
.tags {
	display:inline-block;
	margin-bottom:5px;
}
.tags.list {
	display:block;
	margin:0 12px 5px 12px;
}
.tags li {
	float:left;
	margin:0px 5px 5px 0;
	display:inline;
}
.tags.list li {
	overflow: hidden;
	float: none;
	margin:10px 0;
	display: block;
	position: relative;
}
.tags li a, .tags.list li a {
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	padding:4px 5px 5px 5px;
	background:rgba(0,0,0,0.07);
	-webkit-transition:.1s linear all;
	-moz-transition:.1s linear all;
	-ms-transition:.1s linear all;
	-o-transition:.1s linear all;
	transition:.1s linear all;
	font-size:12px;
	color:#2a2d30;
	text-decoration:none;
	display:block
}
.tags li a:hover {
	background: rgba(0, 0, 0, 0.04);
	color:#3399CC;
}
.tags.list li a span {
	float: right;
}

.tags.list li a.initial {
	background: none !important;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-shadow:0 1px 0 #fff;
	color: #333 !important;
	text-transform: uppercase;
	font-size: 16px;
}
.color-scheme {
	margin-bottom:5px;
	position:relative;
}
.color-scheme li {
	float:left;
	margin:0px;
	display:inline;
	width: 25px;
	height: 18px;
	margin: 1px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
.sidebar-item .color-scheme li  {	width: 30px;
	height: 20px;}
.color-scheme li a {
	float:left;
	display:block;
	width: 18px;
	height: 15px;
	overflow:hidden;
	text-indent:-9999px;
	-webkit-transition:0.1s linear all;
	-moz-transition:0.1s linear all;
	-ms-transition:0.1s linear all;
	-o-transition:0.1s linear all;
	transition:0.1s linear all;
}
.sidebar-item .color-scheme li a {	width: 30px;
	height: 20px;}
.color-scheme li a:hover, .color-scheme li:hover {
opacity:0.8;
}

/*******************************post details*******************************/
.post-user-info {
	margin: 5px 5px 15px 5px;
	padding:0;
	position:relative;
}
.post-user-info h4 {
	float:left;
	margin: 0;
	color:#3399cc;
	line-height: 1;
}
.post-user-info h4 a {
	font-size:14px;
}
.post-user-info img {
	float:left;
	margin:0 10px 10px 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.post-img-container {
	float:left;
	width:400px;
	height:300px;
	margin-right:15px;
	text-align:center;
}
.post-img-data {
	width:270px;
	float:right;
}
.post-desc {
	font-size: 1.1em;
	color: #2A2D30;
	line-height:1.4;
}
.post-title {
	margin:0;
	padding:0;
	font-size: 1.2em;
	color: #2b343b;
	text-shadow:0 1px 0 #ffffff;
	font-weight: 700;
}
.post-date {
	font-size: 0.9em;
	color: #5D6167;
	font-style: normal;
	font-weight:normal;
	display:inline;
	margin-left:5px;
	line-height:2;
}
.post-date:before {
	content: "|";
	margin-right:3px;
}
.post-container {
	overflow: hidden;
	position: relative;
}
.post-container h2 {
	font-size: 1.4em;
	font-weight: 700;
	line-height:1;
	text-transform:uppercase;
}
.post-container h3 {
	clear:both;
	padding:2px;
	text-indent:5px;
	line-height:1;
	margin-bottom:5px;
	font-size: 14px;
}
/*profile*/
.profile {
	height:65px;
	clear:both;
}
.profile h2 {
	font-size:18px;
}
/********************comments list******************************/

.comments-list, .comment-form {
	float:left;
	width:430px;
	margin-right:15px;
}
.comments-list {
	margin-top:20px;
}
.comments-list li {
	/*	background: #F5F3F5;*/
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin-bottom:10px;
	padding:10px;
	color:#26282C;
	font-size:1.2em;
	line-height:1.3em;
}
.response h4 {
	font-size: 14px;
}
.response h4 a {
	margin-left: 10px;
}
.response h4 img {
	float:left;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.comment-body {
	margin-left:52px;
	margin-top:10px;
}
.comment-date {
	margin-left:52px;
	color:#5D6167;
	font-size:0.9em;
}
.rebound {
	margin-top:0px;
}
.rebound h2 {
	font-size: 16px;
	color: #2b343b;
	font-weight: 700;
	line-height:1;
	text-transform:uppercase;
	text-shadow:0 1px 0 #ffffff;
}
.rebound h4 {
	font-size:13px;
}
.rebound h4 img {
	margin-right:8px;
	float:left;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.rebound-image {
	margin-right:8px;
	float:left;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.rebound-title {
	margin:0;
	font-size: 1.2em;
	color: #2b343b;
	font-weight: 700;
	text-shadow:0 1px 0 #ffffff;
}
.rebound .comment-body {
	clear:both;
	margin-left:48px;
	margin-top:10px;
}
.comment-form {
	clear:both;
}
.comment-form .e_wrap label {
	width:100px;
}

/*footer*/
.footer, .push {
	clear: both;
	height:35px;
}
.footer {
	background-color:#2b343b;
	color:#E4E4E4;
}
.footer .wrapper {
	width: 978px;
	margin: 0 auto;
	padding: 10px 0;
}
.inner-wrapper {
	padding: 10px;
}
.box h2 {
	margin-top: 0;
}
/* utils */

.go_right {
	float: right;
}
.user-banner .avatar {
	float: left;
	margin-right: 16px;
}
.user-banner h2 {
	color: #fff;
	text-shadow: 0px 1px 0px #000;
}
.user-banner p {
	color: #999;
}
.user-banner.box {
	background: #333;
	margin-bottom: 16px;
	border-radius: 4px;
}
ul.alphabet-links {
	margin: 0 12px 5px 12px;
}
ul.alphabet-links li {
	display: inline;
}
ul.alphabet-links li a {
	display: inline-block;
	font-size: 1.2em;
	width: 3.5%;
	text-transform: uppercase;
	text-align: center;
	padding: 3px 0;
	background: #666;
	color: white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin: 0 -1px 0 0;
}
.percentage-bar {
	position: absolute;
	top: 0;
	left: 0;
	/*min-width: 12%;*/
	height: 100%;
	text-indent: -9999px;
	display: block;
	background: rgba(0, 0, 0, 0.07) url(/assets/images/glass-light.png) repeat-x 0 50%;
	overflow: hidden;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: background 0.2s ease;
	-moz-transition: background 0.2s ease;
	-o-transition: background 0.2s ease;
	transition: background 0.2s ease;
}
.post-reply {
	position: absolute;
	right: 0;
	top: 0;
}
.login-to-comment {
	padding: 20px 0px 40px 0;
}
.float_right {
	float: right !important;
