body {
	background:url(../images/bg.jpg) repeat
}
#main {
	width:978px;
	margin:0 auto;
	clear:left;
}
/*HEADER*/
#header {
	width:978px;
	margin:0 auto;
	height:120px;
}
#header h1 {
	display:block;
	width:230px;
	height:120px;
	/*temp style*/
	font-family:"Georgia", Times New Roman, Times, serif;
	color:#434a4e;
	/*end temp style*/
	float:left;
}
#header h1 a {
	display:block;
	width:230px;
	height:120px;/*text-indent:-9999px;
	overflow:hidden;*/
}
/*LOGIN*/
ul#login {
	width:290px;
	float:right;
	display:inline;
	height:120px;
}
ul#login li.log {
	zoom:1;
	border-color:#272727;
	border-bottom-color:#3b3b3b;
	text-shadow:0 -0.09em 0.03em rgba(0, 0, 0, 0.5);
	float:left;
	display:block;
	padding-left:11px;
	padding-right:11px;
}
ul#login li.log a {
	display:block;
	overflow:hidden;
	color:#fff;
	text-decoration:none;
	padding:8px 30px;
}
ul#login li.sign {
	float:left;
	display:block;
	padding:10px 30px;
	width:100px;
	text-align:right;
}
/*MENU TOPO*/
#navContainer {
	width:100%;
	background:#2b2d34;
	zoom:1;
	background:-moz-linear-gradient(top, #3b454a 0%, #2b2d34 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #3b454a), color-stop(100%, #2b2d34));
	background:-webkit-linear-gradient(top, #3b454a 0%, #2b2d34 100%);
	background:-o-linear-gradient(top, #3b454a 0%, #2b2d34 100%);
	background:-ms-linear-gradient(top, #3b454a 0%, #2b2d34 100%);
	background:linear-gradient(top, #3b454a 0%, #2b2d34 100%);
	-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	box-shadow:0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid #FFFFFF;
	height:65px;
	margin-bottom:15px;
}
/*PESQUISA*/
#search {
	width:300px;
}
#txtSearch {
	background:#2b2d34;
	-webkit-box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding:10px;
	border:none;
	color:#FFF;
}
#btnSearch {
	padding:10px 30px;
	border-color:#272727;
	border-bottom-color:#3b3b3b;
	border:1px;
	text-shadow:0 -0.09em 0.03em rgba(0, 0, 0, 0.5);
	color:#FFF;
}
.box {
	-webkit-box-shadow: 0 1px 3px #aaa;
	-moz-box-shadow: 0 1px 3px #aaa;
	box-shadow: 0 1px 3px #aaa;
	background-color: white;
	padding: 1em;
}
.txtRight {
	text-align: right;
}
ul.tribbles li {
	float: left;
}
ul.tribbles li h5 {
	color: #0091E0;
}
ul.tribbles {
	list-style-type: none;
	padding: 0;
}
.tribble-img {
	overflow: hidden;
	position: relative;
}
.tribble-img:hover .tribble-hover {
	opacity: 0.90;
	-webkit-transition: opacity 200ms ease-in-out;
	-moz-transition: opacity 200ms ease-out;
	-o-transition: opacity 200ms ease-out;
	transition: opacity 200ms ease-out;
}
.tribble-hover {
	position: absolute;
	background: #fff;
	height: 100%;
	width: 100%;
	padding: 8px 8px 0 8px;
	opacity: 0;
}
.tribble-img a {
	text-decoration: none;
}
.tribble-img a span {
	display: block;
}
.tribble-img span.title {
	font-size: 1.8em;
	color: #444;
	font-weight: 700;
}
.tribble-img span.desc {
	font-size: 1em;
	color: #444;
}
.tribble-img em {
	font-size: 0.9em;
	font-weight: 700;
	color: #666;
	position: absolute;
	bottom:18px;
	font-style: normal;
}
/***********************override INK styles*************************/
.btn, input[type=button].btn, defaultBtn, input[type="submit"], input[type="button"], button {
	background:-moz-linear-gradient(top, #3b454a 0%, #2b2d34 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #3b454a), color-stop(100%, #2b2d34));
	background:-webkit-linear-gradient(top, #3b454a 0%, #2b2d34 100%);
	background:-o-linear-gradient(top, #3b454a 0%, #2b2d34 100%);
	background:-ms-linear-gradient(top, #3b454a 0%, #2b2d34 100%);
	background:linear-gradient(top, #3b454a 0%, #2b2d34 100%);
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2);
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
#topNavigation {
	width:978px;
	margin:0 auto;
	padding-top:10px;
}
.h_navigation {
	float:left;
	width:500px;
	margin-top:4px;
}
.h_navigation li {
	margin-right:10px;
}
.blackMenu input {
	width:auto;
}
.blackMenu .h_navigation .active a, .blackMenu a:hover {
	background:#2b2d34;
	-webkit-box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border:none;
	color:#FFF;
}
.blackMenu .h_navigation li a {
	padding:0px 15px;
}
.blackMenu a {
	line-height:2.7em;
}
